<html>
<head>
    <title><%= title %></title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Materialize-->
    <link rel="stylesheet" href="/styles/css/materialize.css">

    <!--Style-->
    <link rel="stylesheet" href="/styles/css/style.css">

    <script src="/js/jquery-2.2.4.js"></script>
    <script src="/js/materialize.js"></script>

    <script src="/js/main.js"></script>
</head>
<body id="home" class="scrollspy">

<!--JavaScript at end of body for optimized loading-->
<script src="https://materializecss.com/bin/materialize.js"></script>

<!--Navbar-->
<div class="navbar-fixed">
    <nav class="teal">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Travelville</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#search">Search</a>
                    </li>
                    <li>
                        <a href="#popular">Popular Places</a>
                    </li>
                    <li>
                        <a href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="#" data-target="loginModal" class="login modal-trigger">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-nav">
    <li>
        <a href="#home">Home</a>
    </li>
    <li>
        <a href="#search">Search</a>
    </li>
    <li>
        <a href="#popular">Popular Places</a>
    </li>
    <li>
        <a href="#gallery">Gallery</a>
    </li>
    <li>
        <a href="#contact">Contact</a>
    </li>
    <li>
        <a href="#loginModal" class="login modal-trigger">Login</a>
    </li>
</ul>